/* div{
    border: 1px solid black;
} */

/* table, tbody, thead, tr, th, td{
    border:1px solid black;
} */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 제목 */
.header{
    flex: 1;
    padding-left: 12px;
    display: flex;
    align-items: center;
}

/* 카드 */
.cardWrapper{
    flex: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 12px 24px;
}

.cardBox{
    flex:9;
    display: flex;
    width: 100%;
    height: 100%;
}

.cardLine{
    flex:1;
}

.pagination{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination span {
    margin: 0 10px; 
    cursor: pointer; 
}

.pagination span:disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
}


/* 리스트목록 */
.ingBox{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.listheader{
    flex:1;
}

.headerText{
    margin-left: 24px;
    letter-spacing: -1px;
}

.tableWrapper{
    flex:9;
}

.table{
    width: 100%;
    height: 100%;
    max-height: 290px;
}


.theadtd{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

tbody{
    overflow-y: scroll;
}

/* 열설정 */
.td1, .theadtd1 {
    width: 12%;
}
.td2, .theadtd2 {
    width: 12%;
}
.td3, .theadtd3 {
    width: 12%;
}
.td4, .theadtd4 {
    width: 28%;
    text-align: left;
}
.td5, .theadtd5 {
    width: 12%;
}
.td6, .theadtd6 {
    width: 12%;
}
.td7, .theadtd7 {
    width: 12%;
}

