/* div{
    border: 1px solid black;
} */

/* table, tbody, thead, tr, th, td{
    border:1px solid black;
} */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.member_info{
    display: flex;
    justify-content: flex-start; /* 요소 간의 간격을 균등하게 분배 */
    align-items: center;
    padding: 20px 40px;
    background-color: #f0f4f8;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.member_total {
    font-size: 22px;
    font-weight: bold;
    color: #e75757;
    background-color: #ecf0f1;
    padding: 25px 24px;
    border-radius: 8px;
    display: flex;
    align-items: start;
    gap: 12px; /* 아이콘과 텍스트 사이의 간격 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member_emoji {
    font-size: 26px;
    color: #3498db;
    flex:0.5;
}
.member_box{
    flex:3;
}

.member_complete{
    font-size: 16px;
    color: #2c3e50;
}


/* ===================================================== */
.funcBtn{
    padding-top:20px;
    flex:0.5;
    display: flex;
    padding-left: 30px;
    padding-bottom:15px;
    width: 95%;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.col_button{
    flex: 1;
    padding-left: 100px;
}
.searchWrapper{
    flex:1;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.searchWrapper input{
    height: 35px;
    width: 220px;
    margin-right: 10px;
    text-align: left;
    padding-left: 10px;
}

.funcBtn select{
    height: 35px;
    width: 200px;
    margin-left: 20px;
    
}
.funcBtn button{
    /* flex:0.1; */
    width: 100px;
    height: 35px;
    justify-content:bottom;
    margin-left: 20px;
    padding: 5px 0 5px 0;
    background-color: #a6c76c;
    border: none;
    color: white;
    font-size: 13px;
    /* padding: 3.5px; */
    border-radius: 3px;
    letter-spacing: -1px;
}
.funcBtn button:hover{
    cursor: pointer;
}


/* ===================================================== */
.body{
    /* border: 1px solid black; */
    /* height: 75%; */
    flex:6;
    padding: 0 25px;
}
.tableWrapper{
    flex:8.5;
    display: flex;
    justify-content: center;
    min-width: 1200px;
}

.table{
    /* width: 100%;
    height: 100%; */
    width: 85%; /* 테이블의 고정 너비를 설정 */
    height: 100%;
    table-layout: fixed; /* 테이블의 열 너비를 고정 */
}

.table thead td:nth-child(1){
    width:30px;    /* checkbox 너비 */
}
.table thead td:nth-child(2) {
    width: 90px; /* 이름 열의 너비 */
}

.table thead td:nth-child(3) {
    width: 90px; /* 부서 열의 너비 */
}
.table thead td:nth-child(4) {
    width: 90px; /* 직위 열의 너비 */
}
.table thead td:nth-child(5) {
    width: 90px; /* 사용자그룹 열의 너비 */
}
.table thead td:nth-child(6) {
    width: 110px; /* 이메일 열의 너비 */
}
.table thead td:nth-child(7) {
    width: 100px; /* 계정상태 열의 너비 */
}


.theadtd{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.statusBtn{
    margin-left: 10px;
    background-color: #a6c76c;
    border: none;
    color: white;
    font-size: 13px;
    padding: 3.5px;
    border-radius: 3px;
    letter-spacing: -1px;
}
.statusBtn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px #cad1cb;
}
.statusBtn2{
    margin-left: 10px;
    background-color: #12ac57;
    border: none;
    color: white;
    font-size: 13px;
    padding: 3.5px;
    border-radius: 3px;
    letter-spacing: -1px;
}



.modalForm {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination{
    flex:2;
}