.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    flex: 1;
    padding-left: 12px;
    display: flex;
    align-items: center;
}

/* 메뉴라인 메뉴와 검색기능 */
.menuline{
    flex: 1;
    display: flex;
}

.menu{
    flex: 1;
}

.search{
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.searchBox{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right : 1vw;
    padding-bottom: 0.55vh;
}

.searchBox select {
	width: 6.25vw;
	height: 4.6vh;
	background: white;
	border: 1px solid #5a5a64;
	cursor: pointer;
	padding: 0 0 0 0.52vw;
}

.searchBox input{
    padding: 0;
	margin: 0;
	width: 10.417vw;
	height: 4.6vh;
	border: none;
	border: 1px solid #5a5a64;
	border-right: 0;
    border-left : 0;
	font-size: 14px;
	text-indent: 1.0417vw;
}

.searchBox button{
    height: 4.6vh;
    width : 2.08vw;
	border: 1px solid #5a5a64;
	border-left: 0;
    background-color: white;
}

.searchBox button:hover{
    cursor: pointer;
}




.content{
    flex: 8;
    width: 100%;
    height: 100%;
}

.contentbox{
    width: 100%;
    height: 100%;
}

table{
    width: 100%;
    text-align: center;
}


.theadtd {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: -1px;
}

/* 열설정 */
.td1, .theadtd1 {
    width: 9%;
}
.td2, .theadtd2 {
    width: 9%;
}
.td3, .theadtd3 {
    width: 9%;
}
.td4, .theadtd4 {
    width: 6%;
}
.td5, .theadtd5 {
    width: 25%;
    text-align: left;
}
.td6, .theadtd6 {
    width: 9%;
}
.td7, .theadtd7 {
    width: 9%;
}
.td8, .theadtd8 {
    width: 9%;
}
.td9, .theadtd9 {
    width: 9%;
}

.td10, .theadtd10 {
    width: 6%;
}

.tablerow{
    padding-top: 10px;
    padding-bottom: 10px;
}

.title:hover{
    cursor: pointer;
}

.ingstate{
    background-color: #a6c76c;
    border: none;
    color: white;
    font-size: 13px;
    padding: 3.5px;
    border-radius: 3px;
    letter-spacing: -1px;
}

.rejectstate{
    background-color: #ff616b;
    border: none;
    color: white;
    font-size: 13px;
    padding: 3.5px;
    border-radius: 3px;
    letter-spacing: -1px;
}


.comstate{
    background-color: #A3A3A3;
    border: none;
    color: white;
    font-size: 13px;
    padding: 3.5px;
    border-radius: 3px;
    letter-spacing: -1px;
}

.egcstate{
    background: none;
    border: 1px solid #ff9f9d;
    color: #fb4c49;
    font-size: 13px;
    padding: 1px;
    border-radius: 3px;
    letter-spacing: -1px;
}

.tempstate{
    background-color: #ff616b;
    border: none;
    color: white;
    font-size: 13px;
    padding: 3.5px;
    border-radius: 3px;
    letter-spacing: -1px;
    opacity: 0.5;
}

/* 페이지네이션 */
.paginationBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination{
    display: flex;
}

.naviarrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.naviarrow:hover{
    cursor: pointer;
}

.navinum{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.navinum:hover{
    cursor: pointer;
}

.activePage {
    font-weight: bold;
    text-decoration: underline;
}



/* 선주기 */
/* div{
    border: 1px solid black;
} */

/*table, tr{
    border: 1px solid black;
} */