 .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 헤더 */
.header{
    flex:0.5;
    display: flex;
    align-items: center;
    min-height: 10vh;
}

.headerText{
    padding-left: 24px;
}



/* 메뉴 */
.menu{
    flex: 0.5;
    padding-left: 24px;
    display: flex;
    align-items: center;
    min-height: 8vh;
}


/* 디테일 */

.detail{
    flex:8;
    display: flex;
    width: 100%;
    height: 100%;
  
}

.contentWrapper {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative; /* 자식 요소의 절대 위치 지정 가능하도록 */
}


/* 왼쪽 */
.left{
    flex: 7.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
   overflow-y: scroll;
   /* max-height: 600px; */
   /* height: 70vh; 전체 높이에서 헤더와 메뉴를 뺀 높이 */
   height: 70vh; /* 헤더와 메뉴 높이를 뺀 나머지 높이 */
   /* position: absolute; 부모 내에서 절대 위치 */
   position: relative; /* 자식 요소의 절대 위치 지정 가능하도록 */

}


/* 오른쪽 */
.side{
    flex: 2.5;
    width: 100%;
    height: 100%;
}


.leftcontainer{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    border: 5px solid #ddd;
    flex-grow: 1; /* 부모 요소의 남은 공간을 차지하도록 */
    overflow-y: auto; /* 내부에서만 스크롤 가능하도록 */
    max-height: 100%; /* 부모 요소의 높이를 넘어가지 않도록 제한 */
  
}

/* 헤더 */
.insideheader{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 빅컨테이너 */
.bigcontent{
    flex: 9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* height: 800px; */
}

/* 문서 정보 라인 0*/
.info{
    flex: 2;
    display: flex;
    width: 100%;
    height: 100%;
}

/* 문서정보 왼쪽*/
.docInfo{
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tablebox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row1, .row2, .row3{
    border-bottom: 1px solid black;
}

.row1, .row2, .row3, .row4{
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
}

.row1col1, .row2col1, .row3col1, .row4col1{
    flex: 5;
    background: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    padding-left: 10px;
}


.row1col2, .row2col2, .row3col2, .row4col2{
    flex: 5;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* 결재라인 빈박스 */
.lineEmptyBox{
    flex: 2;
    min-width: 50px;
    height: 100%;
}


/* 결재라인 오른쪽*/
.apvlineInfo{
    flex: 5;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: right;
}

.tablelbox2{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    max-width: 100px;
}

.role{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.name{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}


.docNumber{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imgSize{
    width: 50px;
}


/* 작성칸 */
.form{
    flex: 8;
    padding-top: 40px;
    width: 100%;
    height: 100%;

}




.fileBox{
    flex: 1;
}

