.container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.form {
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.companyLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.companyLogo > img {
    width: 50px;
    height: 50px;
}

.companyLogo > span {
    font-size: 24px;
    font-weight: 800;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.userName {
    font-size: 16px;
    font-weight: 700;
    margin: 0 8px;
}

.userAvatar {
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

.userAvatar >img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
