.container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.form {
    width: 90%;
    max-width: 1280px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.userName {
    font-size: 16px;
    font-weight: 700;
    margin: 0 8px;
}

.userAvatar {
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}
