.container {
	padding: 2.1954vh 0 0.55vh 1.04vw;
	border-top: 1px solid #d3d3d3;
	margin-top: 1.1vh;
	font-family: monospace;
}

.reply {
	position: relative;
	width: 67.7vw;
}

.reply .replyWriter {
	font-weight: bold;
	font-size: 1rem;
}

.reply .replyContent {
	padding-top: 2.2vh;
	padding-right: 3.125vw;
	font-size: 1rem;
	word-break: break-all;
	white-space: pre-wrap;
}

.reply .replyDateBox {
	margin-top: 3.293vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.reply .replyDateBox .replyDate {
	color: #6a6e76;
}

.replyModifyButton {
	margin: 0 0 0.44vh 0.52vw;
}

.replyDeleteButton {
	margin: 0 0 0.44vh 0;
}

.modifyInput {
	width: 100%;
	background-color: transparent;
	font-size: 1rem;
	resize: none;
	border: 0;
}

.modifyInput:focus {
	outline: none;
}

.modifyButtonBox {
	width: 95%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.charCount {
	margin-right: 0.52vw;
}