<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Chat">
    <!-- 채팅방 목록 조회 -->
    <select id="getChatRooms" resultType="com.clover.messenger.dto.ChatRoomDTO">
        SELECT * FROM chatRoom ORDER BY room_create_time DESC
    </select>

    <!-- room 생성 -->
    <insert id="createRoom" parameterType="com.clover.messenger.dto.ChatRoomDTO" useGeneratedKeys="true" keyProperty="room_seq">
        INSERT INTO chatRoom (room_seq, room_name, room_state, room_create_time, room_type, room_description, emp_seq)
        VALUES (room_sequence.NEXTVAL, #{room_name}, #{room_state}, #{room_create_time}, #{room_type}, #{room_description}, #{emp_seq})
    </insert>

    <!-- 유저가 어디 방에 속하는 지 사번과 방번 넣기 -->
    <insert id="addUserToRoom">
        INSERT INTO chatMembers (emp_seq, room_seq, member_role, join_time)
        VALUES (#{emp_seq}, #{room_seq}, 'MEMBER', CURRENT_TIMESTAMP)
    </insert>

    <!-- 메시지 생성 -->
    <insert id="saveMessage" parameterType="com.clover.messenger.dto.ChatMessageDTO">
        INSERT INTO ChatMessage (message_content, message_type, user_confirm, send_time, room_seq, sender_seq)
        VALUES (#{message_content}, #{message_type}, #{user_confirm}, #{send_time}, #{room_seq}, #{sender_seq})
    </insert>

    <!-- 채팅방에 속한 메시지 얻어오기 -->
    <select id="getRoomMessages" resultType="com.clover.messenger.dto.ChatMessageDTO">
        SELECT * FROM ChatMessage WHERE room_seq = #{room_seq} ORDER BY send_time ASC
    </select>

    <!-- 선택된 채팅방 정보 얻어오기 -->
    <select id="getRoomById" resultType="com.clover.messenger.dto.ChatRoomDTO">
        SELECT * FROM chatRoom WHERE room_seq = #{room_seq}
    </select>

    <!-- 보류 -->
    <select id="isUserInRoom" resultType="int">
        SELECT COUNT(*) 
        FROM chatMembers 
        WHERE emp_seq = #{emp_seq} AND room_seq = #{room_seq}
    </select>    
</mapper>