<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DocumentList">

    <select id="countFinishedDocuments" resultType="int">
   		SELECT count(*) FROM (
	    SELECT sub.*, 
	           ROW_NUMBER() OVER (ORDER BY sub.write_date DESC) AS rn
	    FROM (
	        SELECT doc.*, 
	               CASE 
	                   WHEN b.BS_TITLE IS NOT NULL THEN b.BS_TITLE
	                   WHEN d.parent_seq IS NOT NULL THEN '휴가신청서'
	               END AS title,
	               e1.emp_name as drafter_name,
	               e2.emp_name as current_apver_name,
	               e3.emp_name as final_apver_name,
	               de.DOC_DETAIL_NAME as detail_name,
	               st.DOC_STATE_NAME as state_name
	        FROM document doc 
	        LEFT JOIN business b ON doc.doc_seq = b.parent_seq
	        LEFT JOIN dayoff d ON doc.doc_seq = d.parent_seq
	        LEFT JOIN employee e1 ON doc.drafter_seq = e1.emp_seq
	        LEFT JOIN employee e2 ON doc.CURRENT_APVER_SEQ = e2.emp_seq
	        LEFT JOIN employee e3 ON doc.FINAL_APVER_SEQ = e3.emp_seq
	        LEFT JOIN doc_detail_code de ON doc.DOC_DETAIL_CODE = de.DOC_DETAIL_CODE
	        LEFT JOIN doc_state_code st ON doc.DOC_STATE_CODE = st.DOC_STATE_CODE
	        WHERE (doc.doc_state_code = 3 OR doc.doc_state_code = 4)
	        AND doc.drafter_seq = #{empSeq}
	    )  sub where 1=1
			    <if test="searchType != null and keyword != null">
			    	  <choose>
			            <when test="searchType == 'title'">
			                AND sub.title LIKE '%' || #{keyword} || '%'
			            </when>
			            <when test="searchType == 'drafter_name'">
			                AND sub.drafter_name LIKE '%' || #{keyword} || '%'
			            </when>
			        </choose>
	         	</if>
	) final_subquery
    </select>
    
    <select id="getFinishedPageDocuments" resultType="com.clover.approval.dto.DocumentDTO">
		    SELECT * FROM (
			    SELECT sub.*, 
			           ROW_NUMBER() OVER (ORDER BY sub.write_date DESC) AS rn
			    FROM (
				        SELECT doc.*, 
				               CASE 
				                   WHEN b.BS_TITLE IS NOT NULL THEN b.BS_TITLE
				                   WHEN d.parent_seq IS NOT NULL THEN '휴가신청서'
				               END AS title,
				               e1.emp_name as drafter_name,
				               e2.emp_name as current_apver_name,
				               e3.emp_name as final_apver_name,
				               de.DOC_DETAIL_NAME as detail_name,
				               st.DOC_STATE_NAME as state_name
				        FROM document doc 
				        LEFT JOIN business b ON doc.doc_seq = b.parent_seq
				        LEFT JOIN dayoff d ON doc.doc_seq = d.parent_seq
				        LEFT JOIN employee e1 ON doc.drafter_seq = e1.emp_seq
				        LEFT JOIN employee e2 ON doc.CURRENT_APVER_SEQ = e2.emp_seq
				        LEFT JOIN employee e3 ON doc.FINAL_APVER_SEQ = e3.emp_seq
				        LEFT JOIN doc_detail_code de ON doc.DOC_DETAIL_CODE = de.DOC_DETAIL_CODE
				        LEFT JOIN doc_state_code st ON doc.DOC_STATE_CODE = st.DOC_STATE_CODE
				        WHERE (doc.doc_state_code = 3 OR doc.doc_state_code = 4)
				        AND doc.drafter_seq = #{empSeq}
				    ) sub where 1=1
				    <if test="searchType != null and keyword != null">
				    	  <choose>
				            <when test="searchType == 'title'">
				                AND sub.title LIKE '%' || #{keyword} || '%' 
				            </when>
				            <when test="searchType == 'drafter_name'">
				                AND sub.drafter_name LIKE '%' || #{keyword} || '%'
				            </when>
				        </choose>
		          	</if>
			) final_subquery
		WHERE final_subquery.rn BETWEEN #{start} AND #{end}
    </select>
    
    <select id="countTempDocuments" resultType="int">
   		SELECT count(*) FROM (
	    SELECT sub.*, 
	           ROW_NUMBER() OVER (ORDER BY sub.write_date DESC) AS rn
	    FROM (
	        SELECT doc.*, 
	               CASE 
	                   WHEN b.BS_TITLE IS NOT NULL THEN b.BS_TITLE
	                   WHEN d.parent_seq IS NOT NULL THEN '휴가신청서'
	                   ELSE ''
	               END AS title,
	               e1.emp_name as drafter_name,
	               e2.emp_name as current_apver_name,
	               e3.emp_name as final_apver_name,
	               de.DOC_DETAIL_NAME as detail_name,
	               st.DOC_STATE_NAME as state_name
	        FROM document doc 
	        LEFT JOIN business b ON doc.doc_seq = b.parent_seq
	        LEFT JOIN dayoff d ON doc.doc_seq = d.parent_seq
	        LEFT JOIN employee e1 ON doc.drafter_seq = e1.emp_seq
	        LEFT JOIN employee e2 ON doc.CURRENT_APVER_SEQ = e2.emp_seq
	        LEFT JOIN employee e3 ON doc.FINAL_APVER_SEQ = e3.emp_seq
	        LEFT JOIN doc_detail_code de ON doc.DOC_DETAIL_CODE = de.DOC_DETAIL_CODE
	        LEFT JOIN doc_state_code st ON doc.DOC_STATE_CODE = st.DOC_STATE_CODE
	        WHERE (doc.doc_state_code = 2)
	        AND doc.drafter_seq = #{empSeq}
	    )  sub where 1=1
			        <if test="searchType != null and keyword != null">
					        <choose>
					            <when test="searchType == 'title'">
					                AND sub.title LIKE '%' || #{keyword} || '%'
					            </when>
					            <when test="searchType == 'drafter_name'">
					                AND sub.drafter_name LIKE '%' || #{keyword} || '%'
					            </when>
					        </choose>
					    </if>
					     <if test="keyword==''">
					        OR sub.title IS NULL
					    </if>
	) final_subquery
    </select>
    
    <select id="getTempPageDocuments" resultType="com.clover.approval.dto.DocumentDTO">
 			SELECT * FROM (
			    SELECT sub.*, 
			           ROW_NUMBER() OVER (ORDER BY sub.write_date DESC) AS rn
			    FROM (
				        SELECT doc.*, 
				               CASE 
				                   WHEN b.BS_TITLE IS NOT NULL THEN b.BS_TITLE
				                   WHEN d.parent_seq IS NOT NULL THEN '휴가신청서'
				                   ELSE ''
				               END AS title,
				               e1.emp_name as drafter_name,
				               e2.emp_name as current_apver_name,
				               e3.emp_name as final_apver_name,
				               de.DOC_DETAIL_NAME as detail_name,
				               st.DOC_STATE_NAME as state_name
				        FROM document doc 
				        LEFT JOIN business b ON doc.doc_seq = b.parent_seq
				        LEFT JOIN dayoff d ON doc.doc_seq = d.parent_seq
				        LEFT JOIN employee e1 ON doc.drafter_seq = e1.emp_seq
				        LEFT JOIN employee e2 ON doc.CURRENT_APVER_SEQ = e2.emp_seq
				        LEFT JOIN employee e3 ON doc.FINAL_APVER_SEQ = e3.emp_seq
				        LEFT JOIN doc_detail_code de ON doc.DOC_DETAIL_CODE = de.DOC_DETAIL_CODE
				        LEFT JOIN doc_state_code st ON doc.DOC_STATE_CODE = st.DOC_STATE_CODE
				        WHERE (doc.doc_state_code = 2)
				        AND doc.drafter_seq = #{empSeq}
				    ) sub where 1=1
				        <if test="searchType != null and keyword != null">
					        <choose>
					            <when test="searchType == 'title'">
					                AND sub.title LIKE '%' || #{keyword} || '%'
					            </when>
					            <when test="searchType == 'drafter_name'">
					                AND sub.drafter_name LIKE '%' || #{keyword} || '%'
					            </when>
					        </choose>
					    </if>
					    <if test="keyword==''">
					        OR sub.title IS NULL
					    </if>
			) final_subquery
		WHERE final_subquery.rn BETWEEN #{start} AND #{end}
    </select>
    

    <select id="countApprovalDocuments" resultType="int">
		    SELECT count(*) FROM (
        SELECT sub.*, 
               ROW_NUMBER() OVER (ORDER BY sub.write_date DESC) AS rn
        FROM (
            SELECT doc.*, 
                   CASE 
                       WHEN b.BS_TITLE IS NOT NULL THEN b.BS_TITLE
                       WHEN d.parent_seq IS NOT NULL THEN '휴가신청서'
                   END AS title,
                   e1.emp_name as drafter_name,
                   e2.emp_name as current_apver_name,
                   e3.emp_name as final_apver_name,
                   de.DOC_DETAIL_NAME as detail_name,
                   st.DOC_STATE_NAME as state_name
            FROM apv_line a
            JOIN document doc ON doc.doc_seq = a.doc_seq
            LEFT JOIN business b ON doc.doc_seq = b.parent_seq
            LEFT JOIN dayoff d ON doc.doc_seq = d.parent_seq
            LEFT JOIN employee e1 ON doc.drafter_seq = e1.emp_seq
            LEFT JOIN employee e2 ON doc.CURRENT_APVER_SEQ = e2.emp_seq
            LEFT JOIN employee e3 ON doc.FINAL_APVER_SEQ = e3.emp_seq
            LEFT JOIN doc_detail_code de ON doc.DOC_DETAIL_CODE = de.DOC_DETAIL_CODE
            LEFT JOIN doc_state_code st ON doc.DOC_STATE_CODE = st.DOC_STATE_CODE
            WHERE a.apver_id = #{empSeq} 
              AND (a.apv_status_code = 3 OR a.apv_status_code = 4)
        ) sub WHERE 1=1
        		<if test="searchType != null and keyword != null">
			    	  <choose>
			            <when test="searchType == 'title'">
			                AND sub.title LIKE '%' || #{keyword} || '%'
			            </when>
			            <when test="searchType == 'drafter_name'">
			                AND sub.drafter_name LIKE '%' || #{keyword} || '%'
			            </when>
			        </choose>
	         	</if>
    ) final_subquery
    </select>
    
    <select id="getApprovalPageDocuments" resultType="com.clover.approval.dto.DocumentDTO">
	      SELECT * FROM (
        SELECT sub.*, 
               ROW_NUMBER() OVER (ORDER BY sub.write_date DESC) AS rn
        FROM (
            SELECT doc.*, 
                   CASE 
                       WHEN b.BS_TITLE IS NOT NULL THEN b.BS_TITLE
                       WHEN d.parent_seq IS NOT NULL THEN '휴가신청서'
                   END AS title,
                   e1.emp_name as drafter_name,
                   e2.emp_name as current_apver_name,
                   e3.emp_name as final_apver_name,
                   de.DOC_DETAIL_NAME as detail_name,
                   st.DOC_STATE_NAME as state_name
            FROM apv_line a
            JOIN document doc ON doc.doc_seq = a.doc_seq
            LEFT JOIN business b ON doc.doc_seq = b.parent_seq
            LEFT JOIN dayoff d ON doc.doc_seq = d.parent_seq
            LEFT JOIN employee e1 ON doc.drafter_seq = e1.emp_seq
            LEFT JOIN employee e2 ON doc.CURRENT_APVER_SEQ = e2.emp_seq
            LEFT JOIN employee e3 ON doc.FINAL_APVER_SEQ = e3.emp_seq
            LEFT JOIN doc_detail_code de ON doc.DOC_DETAIL_CODE = de.DOC_DETAIL_CODE
            LEFT JOIN doc_state_code st ON doc.DOC_STATE_CODE = st.DOC_STATE_CODE
            WHERE a.apver_id = #{empSeq} 
              AND (a.apv_status_code = 3 OR a.apv_status_code = 4)
        ) sub WHERE 1=1
        	<if test="searchType != null and keyword != null">
			    	  <choose>
			            <when test="searchType == 'title'">
			                AND sub.title LIKE '%' || #{keyword} || '%'
			            </when>
			            <when test="searchType == 'drafter_name'">
			                AND sub.drafter_name LIKE '%' || #{keyword} || '%'
			            </when>
			        </choose>
	         	</if>
    ) final_subquery
    WHERE final_subquery.rn BETWEEN #{start} AND #{end}
    </select>
    
    <select id="countPartDocuments" resultType="int">
    	  SELECT count(*) FROM (
        SELECT sub.*, 
               ROW_NUMBER() OVER (ORDER BY sub.write_date DESC) AS rn
        FROM (
            SELECT doc.*, 
                   CASE 
                       WHEN b.BS_TITLE IS NOT NULL THEN b.BS_TITLE
                       WHEN d.parent_seq IS NOT NULL THEN '휴가신청서'
                   END AS title,
                   e1.emp_name as drafter_name,
                   e2.emp_name as current_apver_name,
                   e3.emp_name as final_apver_name,
                   de.DOC_DETAIL_NAME as detail_name,
                   st.DOC_STATE_NAME as state_name,
                   p.pcp_division as pcp_division
            FROM participants_line p
            JOIN document doc ON doc.doc_seq = p.doc_seq
            LEFT JOIN business b ON doc.doc_seq = b.parent_seq
            LEFT JOIN dayoff d ON doc.doc_seq = d.parent_seq
            LEFT JOIN employee e1 ON doc.drafter_seq = e1.emp_seq
            LEFT JOIN employee e2 ON doc.CURRENT_APVER_SEQ = e2.emp_seq
            LEFT JOIN employee e3 ON doc.FINAL_APVER_SEQ = e3.emp_seq
            LEFT JOIN doc_detail_code de ON doc.DOC_DETAIL_CODE = de.DOC_DETAIL_CODE
            LEFT JOIN doc_state_code st ON doc.DOC_STATE_CODE = st.DOC_STATE_CODE
            WHERE p.emp_seq = #{empSeq} 
              AND p.read_yn = 'y'
        ) sub WHERE 1=1
        	<if test="searchType != null and keyword != null">
			    	  <choose>
			            <when test="searchType == 'title'">
			                AND sub.title LIKE '%' || #{keyword} || '%'
			            </when>
			            <when test="searchType == 'drafter_name'">
			                AND sub.drafter_name LIKE '%' || #{keyword} || '%'
			            </when>
			        </choose>
	         	</if>
    ) final_subquery
    </select>
    
    <select id="getPartPageDocuments" resultType="com.clover.approval.dto.DocumentDTO">
		 SELECT * FROM (
        SELECT sub.*, 
               ROW_NUMBER() OVER (ORDER BY sub.write_date DESC) AS rn
        FROM (
            SELECT doc.*, 
                   CASE 
                       WHEN b.BS_TITLE IS NOT NULL THEN b.BS_TITLE
                       WHEN d.parent_seq IS NOT NULL THEN '휴가신청서'
                   END AS title,
                   e1.emp_name as drafter_name,
                   e2.emp_name as current_apver_name,
                   e3.emp_name as final_apver_name,
                   de.DOC_DETAIL_NAME as detail_name,
                   st.DOC_STATE_NAME as state_name,
                   p.pcp_division as pcp_division
            FROM participants_line p
            JOIN document doc ON doc.doc_seq = p.doc_seq
            LEFT JOIN business b ON doc.doc_seq = b.parent_seq
            LEFT JOIN dayoff d ON doc.doc_seq = d.parent_seq
            LEFT JOIN employee e1 ON doc.drafter_seq = e1.emp_seq
            LEFT JOIN employee e2 ON doc.CURRENT_APVER_SEQ = e2.emp_seq
            LEFT JOIN employee e3 ON doc.FINAL_APVER_SEQ = e3.emp_seq
            LEFT JOIN doc_detail_code de ON doc.DOC_DETAIL_CODE = de.DOC_DETAIL_CODE
            LEFT JOIN doc_state_code st ON doc.DOC_STATE_CODE = st.DOC_STATE_CODE
            WHERE p.emp_seq = #{empSeq} 
              AND p.read_yn = 'y'
        ) sub WHERE 1=1
        	<if test="searchType != null and keyword != null">
			    	  <choose>
			            <when test="searchType == 'title'">
			                AND sub.title LIKE '%' || #{keyword} || '%'
			            </when>
			            <when test="searchType == 'drafter_name'">
			                AND sub.drafter_name LIKE '%' || #{keyword} || '%'
			            </when>
			        </choose>
	         	</if>
    ) final_subquery
    WHERE final_subquery.rn BETWEEN #{start} AND #{end}
    </select>
    
</mapper>