.container {
    display: flex;
    gap: 1.5rem;
}

.sideFull {
    background-color: #0e0e0e;
    min-height: 100vh;
    width: 14rem;
    transition-duration: 500ms;
}

.sideShort {
    background-color: #0e0e0e;
    min-height: 100vh;
    width: 3rem;
    transition-duration: 500ms;
}

.toggle {
    padding: 16px 12px;
    display: flex;
    justify-content: end;
    color: floralwhite;
}

.menus {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.menuLink {
    display: flex;
    align-items: center;
    font-size: medium;
    gap: 14px;
    padding: 8px;
    border-radius: 6px;
    text-decoration: none;
}

.menuLink:hover {
    background-color: darkgray;
}

.menuTitle {
    color: white;
    white-space: pre;
    transition-duration: 500ms;
}

.menuTitleAction {
    white-space: pre;
    transition-duration: 500ms;
    opacity: 0;
    transform: translate(7rem);
    overflow: hidden;
}

.icons {
    cursor: pointer;
}
