.container{
    padding: 2.2vh 0 0.55vh 1.04vw;
	border-bottom: 1px solid #5a5a64;
	font-family: monospace;
}

.comment {
	position: relative;
	width: 67.7vw;
}

.comment .commentWriter {
	font-weight: bold;
	font-size: 1rem;
}

.comment .commentContent {
	padding-top: 2.1954vh;
	padding-right : 2.083vw;
	font-size: 1rem;
	word-break: break-all;
	white-space: pre-wrap;
}

.comment .commentDateBox {
	margin-top: 3.293vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment .commentDateBox .commentDate{
    color: #6a6e76;
}

.comment .commentDateBox .commentButtonBox {
	padding-right: 2.6vw;
}

.commentModifyButton{
    margin : 0 0 0.44vh 0.52vw;
}

.commentDeleteButton{
    margin : 0 0 0.44vh 0;
}

.openRepleWriteButton:focus{
	outline:none;
}

/* 답글쓰기창 */
.replyWriteBox {
	height: 14.27vh;
    margin-top : 2.2vh;
}

.replyWriteBox .replyWriter {
	height: 3.293vh;
	padding: 2vh 0 1.5vh 1vw;
	font-weight: bold;
    display: flex;
    align-items: center;
}

.replyWriteBox .replyContentBox {
	height: 13.17vh;
	display: flex;
    flex-direction: column;
	justify-content: center;
	padding-bottom : 0.5vh;
}

.innerReplyContentBox{
    height : 10.977vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.replyWriteBox .replyContentBox .innerReplyContentBox .replyContent {
	font-size: 0.938rem;
	padding-left: 0.52vw;
	padding-top: 1.1vh;
	width: 90%;
    height: 8.8vh;
	resize: none;
    border-color: lightgray;
}

.writeReplyButton {
	width: 8%;
	height: 8.8vh;
	margin-left: 0.26vw;
}

.modifyInput{
	width : 100%;
	background-color: transparent;
	font-size: 1rem;
	resize: none;
	border : 0;
	height:100%;
}

.modifyInput:focus{
	outline: none;
}

.modifyButtonBox{
	width:95%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.charCount{
	margin-right : 0.52vw;
}

.replyCountBox{
    width : 90%;
    margin-bottom : 1.647vh;
    display: flex;
    justify-content: end;
    align-items: center;
	font-size: 1rem;
}