.post {
    display: flex;
    align-items: center;
    height: 6.37vh;
    border-bottom: 1px solid #5a5a64;
    margin-bottom: 0;
}

.post div {
    font-size: 15px;
    font-weight: 400;
    /* border:1px solid black; */
}

.post .star {
    margin: 0;
    width: 3.125vw;
    height: 6.37vh;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starIcon:hover {
    fill: rgb(192, 192, 26);
    cursor: pointer;
}

.starFillIcon{
    fill : rgb(214, 214, 2);
}

.starFillIcon:hover{
    fill:gray;
    cursor: pointer;
}

.post .title {
    width: 40vw;
    height: 6.37vh;
    text-align: left;
    font-size: 15px;
    padding-left: 1vw;
    display: flex;
    align-items: center;
}

.post .title:hover {
    cursor: pointer;
}

.post .writer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 12vw;
}

.date {
    width: 9.34vw;
    text-align: center;
}

.view {
    width: 7.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.04vw;
    padding-top: 0.11vh;
}