.container {
    flex: 7;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 1px solid black;
}

.container textarea:focus {
    outline: none;
}

.container button:hover {
    cursor: pointer;
}

.header {
    font-size: 2rem;
    font-weight: 500;
    height: 8.8vh;
    width: 67.7vw;
    display: flex;
    align-items: center;
}

.content {
    position: relative;
    width: 67.7vw;
    min-height: 54.88vh;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;
}

.content .titleBox {
    padding-left: 2.6vw;
    padding-right: 0.26vw;
    height: 13.17vh;
    border: 1px solid black;
    font-size: 1.375rem;
    display: flex;
    align-items: center;
    margin-top: 2.2vh;
}

.titleBox .starIcon:hover {
    fill: rgb(192, 192, 26);
    cursor: pointer;
}

.titleBox .starFillIcon {
    fill: rgb(214, 214, 2);
}

.titleBox .starFillIcon:hover {
    fill: gray;
    cursor: pointer;
}

.titleBox .title {
    margin-left: 1vw;
}

.content .infoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.6vw 0 1vw;
    height: 6.4764vh;
    font-weight: 500;
    border: 1px solid black;
    border-top: 0;
}

.content .infoBox .infoRightBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content .infoBox .name {
    padding-left: 1vw;
}

.content .infoBox .date {
    margin-right: 2.6vw;
}

.content .infoBox .view {
    display: flex;
    align-items: center;
    padding-top: 0.11vh;
}

.content .fileHeader {
    height: 4.4vh;
    display: flex;
    align-items: center;
    padding-left: 0.52vw;
    font-weight: bold;
}

.content .fileHeader .fileLetter {
    display: flex;
    align-items: center;
}

.content .fileHeader .fileLetter:hover {
    cursor: pointer;
}

.content .fileBox .eachFile {
    background-color: white;
    padding-left: 0.52vw;
    margin-bottom: 0.55vh;
    display: inline-block;
    color: rgb(66, 66, 241)
}

.content .fileBox .eachFile:hover {
    cursor: pointer;
}

.content .viewCont {
    padding: 2.2vh 0.52vw 5.49vh 0.52vw;
    min-height: 32.93vh;
    font-size: 1.125rem;
    line-height: 3.293vh;
    font-weight: 400;
    word-break: break-all;
    overflow-x: auto;
    margin-bottom : 1.1vh;
}

.content .viewCont::-webkit-scrollbar {
    width: 0.52vw;
}

.content .viewCont::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.content .viewCont::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
}

.buttonBox .goListBtn {
    width: 6.25vw;
    height: 4.94vh;
    background: #444;
    color: #fff;
    border: 1px solid #555;
    font-size: 0.813rem;
    font-weight: bold;
    margin-right: 0.52vw;
}

.buttonBox .corBtn {
    width: 6.25vw;
    height: 4.94vh;
    background: gray;
    color: #fff;
    border: 0;
    font-size: 0.813rem;
    font-weight: bold;
    margin-right: 0.52vw;
}

.buttonBox .delBtn {
    width: 6.25vw;
    height: 4.94vh;
    background: gray;
    color: #fff;
    border: 0;
    font-size: 0.813rem;
    font-weight: bold;
    margin-right: 0.52vw;
}

.commentBox {
    margin: 2.2vh 0 5.49vh 0;
    width: 67.7vw;
}

.commentBox .writeCommentBox {
    height: 15.37vh;
    border: 1px solid gray;
}

.commentBox .writeCommentBox .commentWriter {
    height: 3.293vh;
    padding: 0.55vh 0 0 1vw;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.commentBox .writeCommentBox .commentContentBox {
    height: 13.17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.commentBox .writeCommentBox .commentContentBox .innerCommentContentBox {
    height: 10.977vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentBox .writeCommentBox .commentContentBox .innerCommentContentBox .commentContent {
    font-size: 0.938rem;
    padding-left: 0.52vw;
    padding-top: 1.1vh;
    width: 90%;
    height: 8.8vh;
    resize: none;
    border-color: lightgray;
}

.writeCommentButton {
    width: 8%;
    height: 8.8vh;
    margin-left: 0.26vw;
}

.commentBox .commentLetter {
    height: 3.95vh;
    width: 67.7vw;
    position: relative;
    margin-top: 4.39vh;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 3.95vh;
    padding-left: 0.52vw;
    border-bottom: 1px solid black;
}

.topButton {
    position: fixed;
    right: 0.5%;
    bottom: 2%;
    z-index: 1;
    color: black;
    font-size: 1.125rem;
}

.topButton:hover {
    cursor: pointer;
}

.commentCountBox {
    width: 90%;
    margin-bottom: 1.65vh;
    display: flex;
    justify-content: end;
    align-items: center;
}