.container{
    flex:1;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar{
    width:12vw;
    height: 100%;
    position:fixed;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.buttonBox .writeButton{
    width : 9.42vw;
    height : 5.66vh;
    font-weight: bold;
    font-size: 20px;
    background-color: skyblue;
    margin: 4.3vh 0 2.9vh 0;
    transition-duration: 0.3s;
}

.writeButton:hover{
    cursor: pointer;
    color:white;
    background-color: rgb(16, 127, 224);
}

.board{
    font-size: 16px;
    display: flex;
    align-items: center;
    text-indent : 0.65vw;
    padding-left: 1.3vw;
    height : 5vh;
}

.board:hover{
    cursor: pointer;
    font-weight: bold;
}

.eachBoard{
    font-size: 14px;
    padding-left: 3.26vw;
    margin : 0.3vh 0.26vw;
    height: 4.3vh;
    display: flex;
    align-items: center;
}

.eachBoard:hover{
    cursor: pointer;
    font-weight: bold;
}