/* div{
    border: 1px solid black;
} */

.container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header{
    flex: 1.5;
}

.headerText{
    letter-spacing: -1px;
}

.contentWrapper{
    flex: 8.5;
    width: 100%;
    height: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid #ddd; 
}


/* 왼쪽 */
.content{
    flex: 5;
    width: 100%;
    height: 100%;
}


.searchBox{
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ddd; 
}

.searchLine{
    flex:1;
    padding: 3px;
    display: flex;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.searchContent{
    flex:8;
    padding-top: 10px;
    padding-left: 10px;
    overflow-y: auto;
    min-height: 280px;
    max-height: 280px;
}

.inputBox{
    flex:9;
}

.input{
    width: 99%;
    height: 99%;
    padding-left: 5px;
    border: none;
}

.input:focus{
    border: none;
    outline: none;
}

.iconBox{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 오른쪽 */
.choice{
    flex: 5;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.choiceBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;   
} 

.choiceHeader{
    flex: 1.4;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding-left: 10px;
}

.choiceHeaderText{
    font-size: 14.5px;
}

.choiceContent{
    flex: 8.6;
    padding: 10px;
}

.choiceInfoLine{
  margin-bottom: 25px;
}

.choiceContentText{
    font-size: 13.5px;
}

.choiceText{
    font-size: 13.5px;
}



/* footer */

.footer{
    flex:1
}

.btnBox {
    width: 250px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.btnBox > button {
    width: 90px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 900;
    color: darkgray;
}

.btnBox > button:hover {
    cursor: pointer;
    color: orange;
}



