.attendance {
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 15px;
    margin: 10px;
}

.icons:hover {
    cursor: pointer;
    transition: all 300ms;
    background-color: var(--hover-color);
}

.attForm {
    width: 100%;
    height: 100%;
}

.attTitle {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    border-bottom: 1px solid darkgray;
}

.attInfo {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.attDate {
    width: 92%;
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.attTimers {
    width: 95%;
    height: 50%;
    border: 1px solid darkgray;
    border-radius: 15px;
    display: flex;
}

.attTimer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attTimer > span {
    font-size: 14px;
    font-weight: 800;
    color: darkgray;
    margin-bottom: 5px;
}

.attTimer > p {
    font-size: 25px;
    font-weight: 900;
}

.attBtn {
    width: 95%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.attBtn > button {
    width: 45%;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    border : none;
    border-radius: 10px;
    background-color: var(--btn-color);
    color: var(--font-color);
}
.attBtn > button:hover {
    cursor: pointer;
    transition: all 300ms;
    background-color: var(--hover-color);
}

.detail {
    width: 450px;
    height: 600px;
    padding: 20px;
}

.detailTitle {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailContent {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contentItems {
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contentItems > div {
    width: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.contentItems > div > p {
    font-size: 18px;
    font-weight: 900;
    border-bottom: 1px solid black;
}

.contentItems > div > span {
    font-size: 16px;
    font-weight: 900;
    color: darkgray;
}

.totalWorkTime {
    width: 90%;
    height: 25%;
    border: 1px solid darkgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.outsideWork {
    width: 100%;
    height: 55%;
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 10px;
}