.container {
    width: 100%;
    min-width: 1100px;
    height: 100%;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 95%;
    height: 95%;
    min-height: 800px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.col {
    width: 65%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftCol {
    width: 30%;
    min-width: 600px;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.myInfo {
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 10px;
}


.todo {
    width: 90%;
    height: 30%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
}

.review {
    width: 95%;
    height: 95%;
    min-height:  690px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}

.avatar {
    width: 30%;
    height: 95%;
    display: flex;
    align-items: center;
}

.avatar > img {
    width: 95%;
    max-width: 150px;
    height: 95%;
    max-height: 150px;
    border-radius: 20px;
}

.empInfo {
    min-width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.empInfo > p {
    font-size: 18px;
    font-weight: 900;
}

.InfoBox {
    display: flex;
}

.InfoBox > button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    background-color: var(--bg-color);
}

.InfoBox > button:hover {
    cursor: pointer;
    background-color: orange;
    color: white;
}

