.container {
    width: 100%;
    min-width: 1100px;
    height: 100%;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 95%;
    height: 95%;
    min-height: 800px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.col {
    width: 65%;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftCol {
    width: 30%;
    min-width: 600px;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInfo {
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 10px;
}

.calendar {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 15px;
    margin: 10px;
    gap: 5px;
}

.calendarTitle {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    border-bottom: 1px solid darkgray;
}

.calendarContent {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

.review {
    width: 95%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 15px;
    background-color: var(--bg-color);
}


.reviewTitle {
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.notice {
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: white;
    border-radius: 15px;
}

.content {
    width: 90%;
    border: 1px solid orange;
    border-radius: 15px;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.contentDate {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;
    font-weight: 800;
}


.avatar {
    width: 30%;
    height: 95%;
    display: flex;
    align-items: center;
}

.avatar > img {
    width: 95%;
    max-width: 150px;
    height: 95%;
    max-height: 150px;
    border-radius: 20px;
}

.empInfo {
    min-width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.empInfo > p {
    font-size: 18px;
    font-weight: 900;
}

.InfoBox {
    display: flex;
}

.InfoBox > button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    background-color: var(--bg-color);
}

.InfoBox > button:hover {
    cursor: pointer;
    background-color: orange;
    color: white;
}

.notice::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.notice::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: lightgrey; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.notice::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}