.container {
    width: 100%;
    height: 100%;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 95%;
    max-width: 1200px;
    height: 95%;
    min-height: 800px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.subMenu {
    width: 15%;
    min-width: 150px;
    height: 700px;
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
}


.row > button {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--btn-color);
    color: white;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.row > button:hover {
    transition: all 300ms;
    background-color: var(--hover-color);
}

.colorBox {
    width: 30px;
    height: 13px;
    border-radius: 3px;
}

.calendar {
    width: 80%;
    max-width: 900px;
}

.modalForm {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list {
    width: 90%;
    height: 35%;
    gap: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 15px;
}

.list > p {
    border-bottom: 1px solid lightgrey;
    display: flex;
    padding: 6px;
    margin: 4px;
    font-size: 18px;
    font-weight: 800;
}
.list > ul {
    padding: 4px;
    list-style-type: none;
    overflow-y: auto;
}

.list > ul > li {
    margin: 5px 2px;
}
.list > ul > li > span {
    font-size: 16px;
    font-weight: 800;
    margin-right: 4px;
}


.list > ul > li:hover {
    background-color: var(--bg-color);
    cursor: pointer;
}

.detail {
    width: 90%;
    height: 60%;
    gap: 5px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 15px;
}

.detail > p {
    border-bottom: 1px solid lightgrey;
    display: flex;
    padding: 6px;
    margin: 4px;
    font-size: 18px;
    font-weight: 800;
}

.content {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contentLabel {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-left: 14px;
    font-size: 16px;
    font-weight: 800;
}

.contentLabel > p > input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin: 2px 0;
    padding: 0 5px;
    border: 1px solid burlywood;
}

.contentLabel > input:focus {
    background-color: floralwhite;
}

.btnBox {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btnBox > button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: darkgray;
    font-size: 20px;
    font-weight: 900;
}

.btnBox > button:hover {
    cursor: pointer;
    color: var(--accent-color);
}

.insert {
    width: 90%;
    height: 80%;
    gap: 5px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insert > p {
    border-bottom: 1px solid lightgrey;
    display: flex;
    padding: 6px;
    margin: 4px;
    font-size: 18px;
    font-weight: 800;
}

.insert > h2 {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companySchedule {
    display: flex;
    gap: 6px;
}

.inputData {
    width: 90%;
    height: 65%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insertRow {
    width: 300px;
    font-size: 18px;
    font-weight: 800;
    margin: 5px;
}

.insertRow > span {
    font-size: 14px;
    text-align: left;
    margin: 10px 0;
}

.insertRow > input {
    width: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0;
    border: 1px solid burlywood;
}

.insertRow > input:focus {
    background-color: floralwhite;
}
