.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 헤더 */
.header{
    flex:1;
    display: flex;
    align-items: center;
}

.headerText{
    padding-left: 24px;
}


/* 메뉴 */
.menu{
    flex: 0.5;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.menuspancenter{
    display: flex;
    align-items: center;
    font-size: 14.5px;
    padding-right: 10px;
}



/* 디테일 */

.detail{
    flex:8.5;
    display: flex;
}

.left{
    flex: 7.5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    max-height: 525px;

}

.side{
    flex: 2.5;
}

