.container{
    width: 100%;
    height: 100%;
    margin-right: 15px;
    max-width: 14vw;
    /* flex: 1 1 calc(20% - 20px); 
    box-sizing: border-box; */
}

.card{
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card:hover{
    transform: translateY(-3px);
    box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.card:hover .approvalBtn {
    background-color: var(--bg-color);
}


.stateBox, .titleBox, .approvalBox{
    
    flex: 1.8;
    display: flex;
    align-items: center;
}

.drafterBox{
    flex: 1.2;
    display: flex;
    align-items: end;
}

.drafterDateBox{
    flex: 1.2;
    display: flex;
    align-items: start;
}

.state{
    margin-left: 10px;
    background-color: #a6c76c;
    border: none;
    color: white;
    font-size: 13px;
    padding: 3.5px;
    border-radius: 3px;
    letter-spacing: -1px;
}

.title{
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: -1px;
}

.drafter, .drafterDate{
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: gray;
    letter-spacing: -1px;
} 


.approvalBtn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    letter-spacing: -2px;
}
