.container {
    flex: 7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 8.78vh;
    padding-left: 1.5625vw;
    background-color: white;
    border-top: 1px solid black;
}

.header {
    font-size: 2.5rem;
    flex: 2;
    display: flex;
    align-items: center;
    padding-left: 2.08vw;
}

.titleBox {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 1.04vw;
}

.titleBox .titleLetter {
    font-size: 1.25rem;
    font-weight: bold;
}

.titleBox input {
    height: 4.4vh;
    width: 33vw;
    font-size: 1.25rem;
    text-indent: 0.26vw;
    margin-left: 1vw;
    outline: none;
}

.typeBox {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    padding-left: 1.04vw;
    margin-top: 1.1vh;
}

.typeBox .typeLetter {
    font-weight: bold;
    font-size: 1.25rem;
}

.typeBox input {
    margin-right: 0.52vw;
}

.typeBox label {
    margin: 0 1vw;
}

.memberBox {
    flex: 8;
}

.memberBox .memberLetter {
    height: 10%;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 1.04vw;
    margin-top: 1.1vh;
}

.memberBox .memberLetter .memberLetterCaution {
    font-size: 0.875rem;
    color: red;
    margin-left: 0.52vw;
}

.memberBox .memberBoxLayout {
    height: 90%;
    padding: 0.55vh 0 0.55vh 1.04vw;
}

.memberBox .addMemberBox {
    height: 100%;
    width: 42.5vw;
    background-color: white;
    border: 1px solid black;
}

.memberBox .addMemberBox .addMemberBtn {
    height: 15%;
    max-height: 6.6vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    padding-left: 1.04vw;
    border-bottom: 1px solid black;
}

.memberBox .addMemberBox .addMemberBtn:hover {
    cursor: pointer;
    font-weight: bold;
}

.memberBox .addMemberBox .addMemberBtn .addMemberLetter {
    margin-left: 0.26vw;
}

.memberBox .addMemberBox .addMemberList {
    height: 85%;
    max-height: 38.42vh;
    overflow-y: auto;
}

.memberBox .addMemberBox .addMemberList .eachAdded {
    height: 20%;
    max-height: 7.684vh;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.52vw;
    border-bottom: 1px solid lightgray;
}

.delBtn {
    width: 1.5625vw;
    margin-right: 0.52vw;
    display: flex;
    justify-content: center;
    color: red;
}

.delBtn:hover {
    cursor: pointer;
}

.activeBox {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    padding-left: 1.04vw;
    margin-top : 1vh;
}

.activeBox .activeLetter {
    font-size: 1.25rem;
    font-weight: bold;
}

.activeBox input {
    margin-right: 0.52vw;
}

.activeBox label {
    margin : 0 1vw;
}

.modalHeader {
    margin-top: 2.2vh;
    font-size: 2rem;
}

.modalContent {
    height: 43.9vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1.1vh;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.buttonBox {
    height: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.65vh;
}

.buttonBox button {
    height: 80%;
    width: 5.2vw;
    background-color: skyblue;
    border: 1px solid black;
    font-size: 1.25rem;
    font-weight: 600;
}

.buttonBox button:hover {
    cursor: pointer;
}

.mainButtonBox {
    height: 5.5vh;
    width: 42.5vw;
    display: flex;
    align-items: center;
    justify-content: end;
}

.mainButtonBox .cancelButton {
    height: 80%;
    width: 5.21vw;
    background-color: lightgray;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 1.04vw;
}

.mainButtonBox .createButton {
    height: 80%;
    width: 5.21vw;
    background-color: rgb(46, 46, 222);
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.mainButtonBox button:hover {
    cursor: pointer;
}

.eachDept {
    font-size: 1.5rem;
    font-weight: bold;
    text-indent: 0.52vw;
    padding: 0.55vh 0;
    border-bottom: 1px solid black;
    background-color: lightblue;
}

.eachInfo {
    margin-left: 0.52vw;
    display: inline;
}