/* div{
    border: 1px solid black;
} */

/* table, tbody, thead, tr, th, td{
    border:1px solid black;
} */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.member_info{
    /* border: 1px solid black; */
    /* height: 15%; */
    flex:1;
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.member_total{
    /* flex:0.1; */
    width:400px;
    height: 100px;
    display: flex;
    border: 1px solid black;
    justify-content: flex-start; /* 왼쪽 정렬을 명확하게 하기 위해 flex-start 사용 */
    align-items: center;
    padding: 30px 100px 30px 90px;
    text-align: left;
}
.member_detail{
    /* flex:0.3; */
    width:500px;
    height: 100px;
    display: flex;
    border: 1px solid black;
    justify-content: flex-start; /* 왼쪽 정렬을 명확하게 하기 위해 flex-start 사용 */
    align-items: center;
    padding: 30px 100px 30px 50px;
    text-align: left;
}
.smallText {
    font-size: smaller; /* 또는 원하는 크기로 설정 */
}

/* ===================================================== */
.funcBtn{
    padding-top:40px;
    flex:0.5;
    /* display: flex; */
    padding-left: 30px;
}
.funcBtn select{
    height: 35px;
    width: 200px;
    margin-left: 20px;
    
}
.funcBtn button{
    /* flex:0.1; */
    width: 100px;
    height: 35px;
    justify-content:bottom;
    margin-left: 5px;
    padding: 5px 0 5px 0;
    background-color: #a6c76c;
    border: none;
    color: white;
    font-size: 13px;
    /* padding: 3.5px; */
    border-radius: 3px;
    letter-spacing: -1px;
}
.funcBtn button:hover{
    cursor: pointer;
}




/* ===================================================== */
.body{
    /* border: 1px solid black; */
    /* height: 75%; */
    flex:6;
    padding: 0 25px;
}
.tableWrapper{
    flex:8.5;
    display: flex;
    justify-content: center;
}

.table{
    width: 95%;
    height: 100%;
}


.theadtd{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modalForm {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination{
    flex:2;
}

