/* div{
    border: 1px solid black;
} */

/* table, tbody, thead, tr, th, td{
    border:1px solid black;
} */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.member_info{
    border: 1px solid black;
    /* height: 15%; */
    flex:1;
     padding-left: 24px;
    display: flex;
    align-items: center;
}
.member_total{
    flex:0.3;
}
.member_detail{
    flex:1;
}

.body{
    border: 1px solid black;
    /* height: 75%; */
    flex:7;
}


.tableWrapper{
    flex:8.5;
}

.table{
    width: 100%;
    height: 100%;
}


.theadtd{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modalForm {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

